{%  extends 'entrenador/base.html' %}   

{% block principal %}
    <center>
        <h4>Batalla</h4>
    </center>

    <!-- Divider -->
    <hr class="sidebar-divider my-10">

    <center>
        <h6>{{user}} VS {{artificial}} </h6>
        <h6> Vida Disponible: {{vida}} </h6>
    </center>

    <!-- Divider -->
    <hr class="sidebar-divider my-10">
    
    <table class="table">
        <thead>
             <th class="not_mapped_style" style="text-align:center">Pregunta</th>
             <th class="not_mapped_style" style="text-align:center">Respuestas</th>
        </thead>
        <tbody>
            {% for pregunta in preguntasLimitadas %}
                <tr>
                    <td align="center">{{pregunta.pregunta}}</td>
                    <td align="center">{{pregunta.respuestaCorrecta}}</td>
                    <td align="center">{{pregunta.respuestaIncorrecta1}}</td>
                    <td align="center">{{pregunta.respuestaIncorrecta2}}</td>
                    <td align="center">                    
                        <input type="text" respuesta="respuesta" name="respuesta" required size="10">
                        <a href="http://127.0.0.1:8000/entrenador/batalla/{{user}}/{{artificial.id}}/{{vida}}" class="btn btn-success ">enviar</a>
                    </td>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}