{%  extends 'entrenador/base.html' %}   

{% block principal %}

<table class="table">
    <thead>
        <th class="not_mapped_style" style="text-align:center">Pokemon</th>
        <th class="not_mapped_style" style="text-align:center">Nombre</th>
        <th class="not_mapped_style" style="text-align:center">Tipo</th>
    </thead>
    <tbody>
        {% for pokemon in pokemones %}
            <tr>
                <td align="center"><img src="{{pokemon.pokemones.icono}}"></td>
                <td align="center">{{pokemon.pokemones.nombre}}</td>
                <td align="center">{{pokemon.pokemones.tipo}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
