{%  extends 'entrenador/base.html' %}   

{% block principal %}
   <table class="table">
       <thead>
           <th class="not_mapped_style" style="text-align:center">Pokemon</th>
           <th class="not_mapped_style" style="text-align:center">Nombre / Entrenador</th>
           <th class="not_mapped_style" style="text-align:center">Tipo</th>
           <th class="not_mapped_style" style="text-align:center">Ataques</th>
       </thead>
       <tbody>
           {% for pokemon in pokemones %}
               <tr>
                   <td align="center"><img src="{{pokemon.icono}}"></td>
                   <td align="center">{{pokemon.nombre}}</td>
                   <td align="center">{{pokemon.tipo}}</td>
                   <td align="center">{{pokemon.moviminetoUno}} | {{pokemon.moviminetoDos}} | {{pokemon.moviminetoTres}} | {{pokemon.moviminetoCuatro}}</td>
               </tr>
           {% endfor %}
       </tbody>
   </table>
   
{% endblock %}