{%  extends 'entrenador/base.html' %}   

{% block principal %}
<a href="{% url 'crear_asignaturas' %}">Crear Asignatura</a>

   <table class="table">
       <thead>
           <th>NOMBRE</th>
           <th>CREDITOS</th>
       </thead>
       <tbody>
           {% for asignatura in asignaturas %}

               <tr>
                   <td>{{asignatura.asignatura.name}}</td>
                   <td>{{asignatura.asignatura.credits}}</td>
               </tr>
               
           {% endfor %}

       </tbody>
   </table>
   
{% endblock %}
