 {%  extends 'entrenador/base.html' %}   

 {% block principal %}
    <table class="table">
        <thead>
            <th class="not_mapped_style" style="text-align:center">Nick</th>
            <th class="not_mapped_style" style="text-align:center">Nombre</th>
            <th class="not_mapped_style" style="text-align:center">Region</th>
            <th class="not_mapped_style" style="text-align:center">Medallas</th>
            <th class="not_mapped_style" style="text-align:center">Batallas</th>
            <th class="not_mapped_style" style="text-align:center">Fecha Registro</th>
            <th class="not_mapped_style" style="text-align:center">Pokemones</th>
            <th class="not_mapped_style" style="text-align:center">Alterna</th>

        </thead>
        <tbody>
            {% for entrenador in entrenadores %}
                <tr>
                    <td align="center">{{entrenador.nick}}</td>
                    <td align="center">{{entrenador.nombre}}</td>
                    <td align="center">{{entrenador.region}}</td>
                    <td align="center">{{entrenador.medallas}}</td>
                    <td align="center">{{entrenador.batallas}}</td>
                    <td align="center">{{entrenador.fechaRegistro}}</td>
                    <td align="center">
                        <a href="{% url 'listar_pokemones' nick=entrenador.nick %}">Ver</a>

                    </td>
                    <td align="center">
                        <a href="{% url 'listar_pokemones_alterno' id=entrenador.id %}">Ver_Alterno</a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
